body {
    background-color: lightgray;
}

#sketchBox {
    width: 600px;
    height: 600px;
    background-color: white;
    padding: 4px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.row{
    flex: 1;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;

}

.square {
    flex: 1;
    padding: 0;
    margin: 1px;

}
.on {
    background-color: black;

}

.off {
    background-color: lightgray;
}

